.slider-container {
  position: relative;
  max-width: 800px;
  overflow: hidden;
  height: 300px;
}

.slider-image-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  min-width: 100%;
  box-sizing: border-box;
}

.slider-image img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-button-left {
  left: 10px;
}

.slider-button-right {
  right: 10px;
}
